/* Give your page a fun background color -- Completed */
body {
    background-color: antiquewhite;

}
/* Make the header and footer a different color from the background --Completed--*/
header {
background-color: aqua; 
opacity: 60%;
border-top: 5px;
border-style: dotted;
text-align: center;
}

footer {
background-color: aquamarine;
border-style: groove;
}
/* Align the h1 containing your name in the center of the header--Completed*/


/* Make your p tag a different color and italic-- completed */
p {
    font-style: italic;
    color:darkmagenta;
}
/* Put a border around your image-- Completed */

img {
    border-style: ridge;
border-radius: 50px;
}

/* Change the font-family of your list-- Completed */
li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}