/* Give your page a fun background color -- Completed */
body {
    background-color: antiquewhite;
    text-align: center;

}
/* Make the header and footer a different color from the background --Completed--*/
header {
background-color: aqua; 
opacity: 60%;
border-top: 5px;
border-left:5px;
border-bottom:5px;
border-right:5px;
border-style:double;
}

footer {
background-color: aquamarine;
border-style: groove;
font-size: larger;
}
/* Align the h1 containing your name in the center of the header--Completed*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic-- completed */
p {
    font-style: italic;
    color:darkmagenta;
}
/* Put a border around your image-- Completed */

img {
    border-style: ridge;
    border-color: brown;
}

/* Change the font-family of your list-- Completed */
li {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}